transaction.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://com.BookStore/transaction"
             xmlns:tns="http://com.BookStore/transaction"
             xmlns:book="http://com.BookStore/book"> <!-- Namespace de Book -->

    <types>
        <xsd:schema>
            <!-- Importar esquemas necesarios -->
            <xsd:import targetNamespace="http://com.BookStore/transaction" schemaLocation="transaction.xsd"/>
            <xsd:import namespace="http://com.BookStore/book" schemaLocation="book.xsd"/> <!-- Importar ISBN -->
        </xsd:schema>
    </types>

    <!-- Mensajes -->
    <message name="RegisterTransactionRequest">
        <part name="transaction" element="tns:transaction"/>
    </message>
    <message name="RegisterTransactionResponse">
        <part name="confirmation" element="tns:confirmation"/>
    </message>

    <message name="QueryTransactionRequest">
        <part name="criteria" element="tns:searchCriteria"/>
    </message>
    <message name="QueryTransactionResponse">
        <part name="confirmations" element="tns:confirmations"/>
    </message>

    <message name="UpdateTransactionRequest">
        <part name="update" element="tns:updateTransaction"/>
    </message>
    <message name="UpdateTransactionResponse">
        <part name="confirmation" element="tns:confirmation"/>
    </message>

    <message name="CancelTransactionRequest">
        <part name="cancel" element="tns:cancelTransaction"/>
    </message>
    <message name="CancelTransactionResponse">
        <part name="cancelConfirmation" element="tns:cancelConfirmation"/>
    </message>

    <!-- PortType -->
    <portType name="TransactionPortType">
        <operation name="RegisterTransaction">
            <input message="tns:RegisterTransactionRequest"/>
            <output message="tns:RegisterTransactionResponse"/>
        </operation>
        <operation name="QueryTransaction">
            <input message="tns:QueryTransactionRequest"/>
            <output message="tns:QueryTransactionResponse"/>
        </operation>
        <operation name="UpdateTransaction">
            <input message="tns:UpdateTransactionRequest"/>
            <output message="tns:UpdateTransactionResponse"/>
        </operation>
        <operation name="CancelTransaction">
            <input message="tns:CancelTransactionRequest"/>
            <output message="tns:CancelTransactionResponse"/>
        </operation>
    </portType>

    <!-- Binding -->
    <binding name="TransactionBinding" type="tns:TransactionPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <operation name="RegisterTransaction">
            <soap:operation soapAction="http://com.BookStore/transaction/RegisterTransaction"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>
        
        <operation name="QueryTransaction">
            <soap:operation soapAction="http://com.BookStore/transaction/QueryTransaction"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>
        
        <operation name="UpdateTransaction">
            <soap:operation soapAction="http://com.BookStore/transaction/UpdateTransaction"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>
        
        <operation name="CancelTransaction">
            <soap:operation soapAction="http://com.BookStore/transaction/CancelTransaction"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>
    </binding>

    <!-- Service -->
    <service name="TransactionService">
        <port name="TransactionPort" binding="tns:TransactionBinding">
            <soap:address location="http://example.com/transaction"/>
        </port>
    </service>
</definitions>
