transaction.wsdl

<?xml version="1.0" encoding="UTF-8"?> 
<wsdl:definitions
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tns="http://com.transaction" targetNamespace="http://com.transaction">

    <wsdl:types>
        <xs:schema targetNamespace="http://com.transaction" elementFormDefault="qualified">
            <xs:import namespace="./transaction.xsd" schemaLocation="http://localhost:8080/schema/transaction.xsd"/>
        </xs:schema>
    </wsdl:types>

    <!-- Mensajes -->
    <wsdl:message name="RegisterTransactionRequest">
        <wsdl:part name="transaction" element="tns:transaction"/>
    </wsdl:message>

    <wsdl:message name="RegisterTransactionResponse">
        <wsdl:part name="confirmation" element="tns:Confirmation"/>
    </wsdl:message>

    <wsdl:message name="ConfirmTransactionRequest">
        <wsdl:part name="idTransaction" element="tns:idTransaction"/>
    </wsdl:message>

    <wsdl:message name="ConfirmTransactionResponse">
        <wsdl:part name="confirmation" element="tns:Confirmation"/>
    </wsdl:message>

    <!-- Puerto -->
    <wsdl:portType name="TransactionPortType">
        <wsdl:operation name="RegisterTransaction">
            <wsdl:input message="tns:RegisterTransactionRequest"/>
            <wsdl:output message="tns:RegisterTransactionResponse"/>
        </wsdl:operation>
        
        <wsdl:operation name="ConfirmTransaction">
            <wsdl:input message="tns:ConfirmTransactionRequest"/>
            <wsdl:output message="tns:ConfirmTransactionResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- Binding -->
    <wsdl:binding name="TransactionBinding" type="tns:TransactionPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <wsdl:operation name="RegisterTransaction">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="ConfirmTransaction">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- Servicio -->
    <wsdl:service name="TransactionService">
        <wsdl:port name="TransactionPort" binding="tns:TransactionBinding">
            <soap:address location="http://localhost:8080/TransactionService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
