transaction.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://com.library"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://com.library">

    <!-- Importar el XSD -->
    <wsdl:types>
        <xs:schema targetNamespace="http://com.library">
            <xs:include schemaLocation="library.xsd"/>
        </xs:schema>
    </wsdl:types>

    <!-- Mensajes -->
    <wsdl:message name="createTransactionRequest">
        <wsdl:part name="transaction" element="tns:transaction"/>
    </wsdl:message>
    <wsdl:message name="createTransactionResponse">
        <wsdl:part name="confirmation" element="tns:confirmation"/>
    </wsdl:message>

    <wsdl:message name="searchTransactionsRequest">
        <wsdl:part name="criteria" element="tns:SearchCriteria"/>
    </wsdl:message>
    <wsdl:message name="searchTransactionsResponse">
        <wsdl:part name="transactions" element="tns:confirmations"/>
    </wsdl:message>

    <wsdl:message name="cancelTransactionRequest">
        <wsdl:part name="cancelRequest" element="tns:cancelTransaction"/>
    </wsdl:message>
    <wsdl:message name="cancelTransactionResponse">
        <wsdl:part name="cancelResponse" element="tns:cancelConfirmation"/>
    </wsdl:message>

    <!-- Operaciones -->
    <wsdl:portType name="LibraryServicePortType">
        <wsdl:operation name="createTransaction">
            <wsdl:input message="tns:createTransactionRequest"/>
            <wsdl:output message="tns:createTransactionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="searchTransactions">
            <wsdl:input message="tns:searchTransactionsRequest"/>
            <wsdl:output message="tns:searchTransactionsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="cancelTransaction">
            <wsdl:input message="tns:cancelTransactionRequest"/>
            <wsdl:output message="tns:cancelTransactionResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- Binding -->
    <wsdl:binding name="LibraryServiceSoapBinding" type="tns:LibraryServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createTransaction">
            <soap:operation soapAction="http://com.library/createTransaction"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchTransactions">
            <soap:operation soapAction="http://com.library/searchTransactions"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cancelTransaction">
            <soap:operation soapAction="http://com.library/cancelTransaction"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- Servicio -->
    <wsdl:service name="LibraryService">
        <wsdl:port name="LibraryServicePort" binding="tns:LibraryServiceSoapBinding">
            <soap:address location="http://localhost:8080/library-service"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
